body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 95dvh;
    box-sizing: border-box;
}

.server-status{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.3rem;
}
.server-status p{
    font-size: 12px;
    color: var(--black-four);
    margin-right: 10px;
}

.server-status div {
    background-color: #292b2c;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50dvh;
}

.center-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container p {
    font-family: var(--font-two);
    text-align: center;
}

.center-container div {
    display: inherit;
    flex-direction: column;
    margin-top: 3rem;
}

footer {
    position: relative;
    bottom: 1rem;
    left: 0;
    right: 0;
}