body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    
    background-image: url("https://i.ibb.co/9p9zqZh/nacos-logo.png");
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
}
.content-container{
    min-width: 90dvw;
    min-height: 90dvh;
    background: color-mix(in srgb, var(--dark), #00000000 5%);
    backdrop-filter: blur(3px);
    padding: 0 2rem;
}
.server-status div {
    background-color: #292b2c;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50dvh;
}

.center-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container p {
    font-family: var(--font-two);
    text-align: center;
}

.center-container div {
    display: inherit;
    flex-direction: column;
    margin-top: 3rem;
}
