.search-box-section form input {
    width: 25rem;
}

.search-results-container {
    padding: 3rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-results-card {
    width: 50dvw;
    max-width: 35rem;
    background: var(--black-three);
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: .5rem;
}

.search-results-card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-results-card h2 {
    margin-top: 0;
    font-family: var(--font-two);
    font-size: 18px;
}

.search-results-card p {
    font-size: 14px;
}

.search-results-card div label {
    font-family: var(--font-two);
    font-size: 12px;
    color: color-mix(in srgb, var(--white-one), #000 30%);
}

.search-results-card div:first-child {
    margin-right: 13px;
}

.search-results-card div:first-child label:first-child {
    margin-right: 13px;
}

.info p {
    font-family: var(--font-two);
}

@media (max-width:850px) {
    .search-results-card{
        width: 65dvw;
    }
    .search-box-section form input {
        max-width: 15rem;
    }
}

@media (max-width:750px) {
    .search-results-card{
        width: 80dvw;
    }
    .search-box-section form input {
        max-width: 15rem;
    }
}